<!DOCTYPE html>
<html lang="it" ng-app="todoListApp">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>AngularJS Todo List</title>

	<!-- Bootstrap -->
	<link href="/stylesheets/application.css" rel="stylesheet" />
	<script src="/vendor/modernizr/modernizr.js"></script>

</head>
<body ng-cloak="">


	<div class="container">


		<!-- <section class="panel panel-default">
			<header class="panel-heading">
				Aggiungi Task
			</header>
			<div class="panel-body">

				<form action="">

					<div class="form-group">
						<label for="title">Titolo</label>
						<input type="text" class="form-control" id="title" name="title" placeholder="Titolo del task"/>
					</div>

					<div class="form-group">
						<label for="description">Descrizione</label>
						<textarea class="form-control" name="description" id="description" cols="30" rows="3"></textarea>
					</div>

					<button class="btn" type="submit"><span class="glyphicon glyphicon-plus"></span> Aggiungi</button>

				</form>

			</div>
		</section> -->

		<section class="panel panel-default" id="todolist" ng-controller="MainController">
			<header class="panel-heading">
				<strong class="h2">Todo List</strong>
				<div class="pull-right">
					<button class="btn btn-default" type="button" ng-click="toggleForm()"><small class="glyphicon glyphicon-plus"></small> Aggiungi</button>
				</div>
			</header>

			<div class="panel-body" ng-class="{'hide': !isFormVisible()}">

				<form action="" name="todoForm" class="row" ng-controller="FormController" ng-submit="submitForm()" novalidate="true">


					<fieldset class="col-xs-offset-1 col-xs-11">

						<div class="form-group" ng-class="{'has-error': isInvalid('title')}">
							<label for="title" class="sr-only">Titolo</label>
							<input type="text" class="form-control" id="title" name="title" ng-model="todo.title" placeholder="Titolo nuovo task (obbligatorio)" required="true" />
							<div class="help-block" ng-show="isInvalid('title')">Inserisci il titolo del task</div>
						</div>

						<div class="form-group">
							<label for="description" class="sr-only">Descrizione</label>
							<textarea class="form-control" name="description" id="description" cols="30" rows="2" ng-model="todo.description" placeholder="Descrizione del task"></textarea>
						</div>

						<button class="btn btn-primary" type="submit" ng-disabled="todoForm.$invalid || isSubmitting()"><small class="glyphicon glyphicon-floppy-disk"></small> Salva</button>
						<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="isSubmitting()"></span>
					</fieldset>

				</form>

			</div>

			<div class="list-group" id="todolist-items" ng-controller="ListController">
				<form action="" name="todoListForm">

					<article class="list-group-item" ng-repeat="todo in todos" ng-class="{'todo-completed': todo.completed}">
						<div class="action-bar">
							<a href="" class="glyphicon glyphicon-trash" title="Cancella" ng-click="remove(todo)"><span class="sr-only">Cancella</span></a>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-1">
								<div class="checkbox">
									<input type="checkbox" value="" name="completed" id="completed" ng-checked="todo.completed" ng-click="toggleCompleted(todo)" />
									<label for="completed" class="sr-only">Completato</label>
								</div>
							</div>
							<div class="col-xs-12 col-sm-11" class="todo-item">
								<h1 class="list-group-item-heading h4">{{todo.title}}</h1>
								<p ng-show="todo.description">
									<a href="" class="small" ng-click="toggleDescription(todo)">dettagli <span class="caret" ng-class="{'caret-reverse': todo.expanded}"></span></a>
								</p>
								<p class="list-group-item-text" ng-class="todo.expanded ? '' : 'hide'">
									{{todo.description}}
								</p>
							</div>
						</div>
					</article>

				</form>
			</div> <!-- /#todolist-items -->


			<footer class="panel-footer">
				<p class="small">Totali: <strong>{{getTotal()}}</strong> Completati: <strong>{{getCompleted()}}</strong></p>
				<div my-progress="getCompleted()*100/getTotal()">{{getCompleted()*100/getTotal() | number:2}}%</div>
			</footer>

		</section> <!-- /#todolist -->


	</div>

	<script src="/vendor/angular/angular.js"></script>
	<script src="/javascripts/config.js"></script>
	<script src="/javascripts/services/todo.js"></script>
	<script src="/javascripts/services/state.js"></script>
	<script src="/javascripts/directives/progress.js"></script>
	<script src="/javascripts/controllers/main.js"></script>
	<script src="/javascripts/controllers/form.js"></script>
	<script src="/javascripts/controllers/list.js"></script>

</body>
</html>